*{
    background-color: #F7F5F2;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 70%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
button{
    border: none;
    color:rgb(255, 252, 252);
    background-color: #FD5D5D;
    padding: 10px 20px 10px 20px;
    margin-right: 6px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}
.output{
    width: 70%;
    margin: auto;
    margin-top: 30px;
    background-color: #FD5D5D;
    border-radius: 20px;
    padding: 30px;
    font-size: 20px;
    color: #1B1A17;
}
h1,ul,li{
    background-color: #FD5D5D;
}
